<html>
<head>
    <link rel="stylesheet" href="../..//public/style.css">
    <link rel="stylesheet" href="../..//public/imageGrid2.css">
</head>
<body>   
    <div class="wallBody" >
        {{#each list}}
        <div class="image">
          <a href="/images/view/{{this._id}}">
            <img src="{{this.url}}" id="{{this._id}} alt="{{this.name}}">
          </a>
          <div class="name">{{this.name}}</div>
        </div>
        {{/each}}
    </div>    
    <div class="wallBottom">
        <div class="file-upload-box">
          <form method="POST" action="/images" enctype="multipart/form-data">
          <input type="file" name="fileUpImages" id="fileUpload"> 
          <input type="submit" name="filebtn" id="fileUpload" value="Upload" >
          </form>
          <form method="GET" action="/images" enctype="multipart/form-data">
          <input type="submit" name="addImage" id="fileUpload" value="Yeni Resim Ekle" >
          </form>
        </div>
    </div>
    
</body>

</html>